---
import AboutMe from "../components/sections/AboutMe.astro";
import Projects from "../components/sections/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="w-[80vw] max-w-screen-md m-auto relative pt-12">
      <AboutMe />
      <Projects />
    </div>
  </main>
</Layout>
